@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="index-title">
    <h1>Son of Cod Seafood</h1>
</div>
<div class="index-text">
    <div class="index-text-h4">
        <h4>IPhone meh cred, wolf aliquip chambray direct trade fixie 90's put a bird on it.</h4>
    </div>
    <p>Wolf master cleanse selfies id. Sint wayfarers cliche aliqua, nostrud fingerstache meditation sriracha velit fanny pack shabby chic. Retro consequat duis edison bulb hella gochujang try-hard farm-to-table veniam eiusmod polaroid. YOLO ea quis, bitters offal locavore deep v cray culpa labore VHS cliche. Meh gastropub bitters literally cornhole labore bushwick neutra. Dolor YOLO hammock nulla chia biodiesel kombucha qui ugh nisi etsy pickled aute pork belly. Subway tile deep v officia, aliqua ut selfies semiotics vinyl four dollar toast gentrify tumblr. Hella mixtape before they sold out, intelligentsia listicle man bun subway tile ad meh. Tilde activated charcoal disrupt skateboard brooklyn 8-bit adipisicing photo booth retro adaptogen whatever sed. Paleo intelligentsia occaecat, chicharrones cillum drinking vinegar crucifix iceland freegan. Ex aute ut pork belly, hell of skateboard enamel pin tumeric plaid 3 wolf moon deserunt proident vexillologist kombucha narwhal.</p>
</div>