@{
    ViewData["Title"] = "Marketing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Son of Cod></h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend imperdiet orci vel maximus. Curabitur quis dui sit amet sem elementum congue. Duis ac leo euismod, lobortis lectus in, ornare sem. Morbi in porttitor erat. Quisque eu leo dignissim, fermentum elit et, tincidunt purus. In ac imperdiet justo. Nunc tincidunt dui egestas metus porttitor tempor. Praesent venenatis, nulla eu congue gravida, odio metus semper orci, sed consectetur mauris quam quis tortor. Sed facilisis enim et tristique dictum. Cras enim risus, gravida in facilisis sit amet, faucibus nec justo. Ut porttitor, metus quis fermentum lacinia, nulla ante faucibus quam, et sagittis sem libero vel erat. Ut ullamcorper auctor tellus vitae vehicula. Curabitur blandit arcu non neque accumsan, vitae vestibulum libero placerat. Nulla facilisi. Sed eget nibh accumsan, venenatis ante ut, laoreet quam.</p>

<h3>The Son of Cod Advantage</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend imperdiet orci vel maximus. Curabitur quis dui sit amet sem elementum congue. Duis ac leo euismod, lobortis lectus in, ornare sem. Morbi in porttitor erat. Quisque eu leo dignissim, fermentum elit et, tincidunt purus. In ac imperdiet justo. Nunc tincidunt dui egestas metus porttitor tempor. Praesent venenatis, nulla eu congue gravida, odio metus semper orci, sed consectetur mauris quam quis tortor. Sed facilisis enim et tristique dictum. Cras enim risus, gravida in facilisis sit amet, faucibus nec justo. Ut porttitor, metus quis fermentum lacinia, nulla ante faucibus quam, et sagittis sem libero vel erat. Ut ullamcorper auctor tellus vitae vehicula. Curabitur blandit arcu non neque accumsan, vitae vestibulum libero placerat. Nulla facilisi. Sed eget nibh accumsan, venenatis ante ut, laoreet quam.</p>